Repository nikoksr/notify, pull requests merged in 2021-01, with the labels that each got.

#2 Slack service
  go.mod
  go.sum
  service/slack/slack.go
Labels: size/M

#7 Fixed copy-paste error in comment
  service/discord/discord.go
Labels: size/XS

#10 fix: remove error return on method new
  service/slack/slack.go
Labels: size/XS

#15 adding usage docs for slack
  service/slack/usage.md
Labels: size/M

#16 build(lint): make codacy ignore markdown files
  .codacy.yml
Labels: size/XS

#9 feat(service): Add Mircosoft Teams service
  README.md
  go.mod
  go.sum
  notify.go
  service/msteams/ms_teams.go
  service/slack/slack.go
  service/telegram/telegram.go
Labels: size/M, type/service

#13 Removed Pseudo, updated Notifier interface
  README.md
  notifier.go
  notify.go
  service/pseudo/pseudo.go
  service/telegram/telegram.go
  use.go
Labels: size/M
