Repository nikoksr/notify, pull requests merged in 2021-05, with the labels that each got.

#106 chore: tidy & update modules and update golangci-lint config
  .golangci.yml
  go.mod
  go.sum
Labels: size/S, type/deps

#92 add: textmagic service
  README.md
  go.mod
  go.sum
  service/textmagic/Readme.md
  service/textmagic/textmagic.go
Labels: size/M

#107 chore: clean up
  .golangci.yml
  go.mod
  go.sum
  service/textmagic/textmagic.go
Labels: size/XS

#109 docs: update readme
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  notify.go
Labels: size/M
