Repository nikoksr/notify, pull requests merged in 2021-02, with the labels that each got.

#19 docs(readme): add fossa badge to readme
  README.md
Labels: documentation, size/XS

#20 feat(service): Added Pushbullet service (tested)
  README.md
  go.mod
  go.sum
  service/pushbullet/pushbullet.go
  service/pushbullet/sms.go
  service/pushbullet/usage.md
  use.go
Labels: size/L

#23 feat: Notify.UseService now uses variadic arguments
  notifier.go
  service/pushbullet/sms.go
  use.go
Labels: size/S

#32 docs(readme): Fix UseService usage
  README.md
  service/pushbullet/usage.md
  service/slack/usage.md
Labels: size/XS

#33 fix(service): Fix chat-id parsing in AddReceivers function
  service/telegram/telegram.go
Labels: size/XS

#14 feat(service): Add twitter service - verified
  README.md
  go.mod
  go.sum
  service/twitter/twitter.go
Labels: size/L, type/service

#35 refactor(lint): remove unnecessary new-lines
  service/twitter/twitter.go
Labels: size/XS

#17 build: add build helpers and basic CI
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/build.yml
  .kodiak.toml
  CONTRIBUTING.md
  Makefile
  notify.go
Labels: size/L

#30 feat(service): Add Plivo service
  README.md
  go.mod
  go.sum
  service/plivo/README.md
  service/plivo/doc.go
  service/plivo/mock_plivoMsgClient.go
  service/plivo/plivo.go
  service/plivo/plivo_test.go
Labels: size/L

#39 refactor(notifier): Simplify notify.Notifier interface
  notifier.go
  notify.go
  send.go
  service/telegram/telegram.go
  use.go
Labels: size/M

#40 feat(service): Add SendGrid service
  README.md
  go.mod
  go.sum
  service/sendgrid/sendgrid.go
Labels: size/M

#42 feat(service): Add Mailgun service
  README.md
  go.mod
  go.sum
  service/mailgun/mailgun.go
  service/mailgun/options.go
Labels: size/M

#45 feat(service): Add WhatsApp service
  README.md
  go.mod
  go.sum
  service/whatsapp/README.md
  service/whatsapp/doc.go
  service/whatsapp/mock_whatsappClient.go
  service/whatsapp/whatsapp.go
  service/whatsapp/whatsapp_test.go
Labels: size/L

#47 feat(service): Add Amazon SES service
  README.md
  go.mod
  go.sum
  service/amazonses/amazon_ses.go
Labels: size/M

#51 refactor(send): Add context.Context to parameter list of Send method
  README.md
  go.mod
  go.sum
  notifier.go
  send.go
  service/amazonses/amazon_ses.go
  service/discord/discord.go
  service/mail/mail.go
  service/mailgun/mailgun.go
  service/msteams/ms_teams.go
  service/plivo/README.md
  service/plivo/doc.go
  service/plivo/mock_plivoMsgClient.go
  service/plivo/plivo.go
  service/plivo/plivo_test.go
  service/pushbullet/pushbullet.go
  service/pushbullet/sms.go
  service/sendgrid/sendgrid.go
  service/slack/slack.go
  service/telegram/telegram.go
  service/twitter/twitter.go
  service/whatsapp/README.md
  service/whatsapp/doc.go
  service/whatsapp/mock_whatsappClient.go
  service/whatsapp/whatsapp.go
  service/whatsapp/whatsapp_test.go
Labels: enhancement, help wanted, size/L
