Repository nikoksr/notify, pull requests merged in 2022-11, with the labels that each got.

#451 docs(comment): fix documentation links
  service/twitter/twitter.go
Labels: size/XS

#453 ci(lint): add setup-go action to lint job
  .github/workflows/ci.yml
  README.md
Labels: affects/docs, size/S, affects/ci

#468 chore: replace dghubble/go-twitter with drswork/go-twitter active fork
  README.md
  go.mod
  go.sum
  service/twitter/twitter.go
Labels: size/S

#467 feat(service): Add Pushover service
  README.md
  go.mod
  go.sum
  service/pushover/doc.go
  service/pushover/mock_pushover_client.go
  service/pushover/pushover.go
  service/pushover/pushover_test.go
  service/pushover/usage.md
Labels: size/L

#471 feat(service): Add Reddit service
  README.md
  go.mod
  go.sum
  service/reddit/README.md
  service/reddit/doc.go
  service/reddit/mock_reddit_message_client.go
  service/reddit/reddit.go
  service/reddit/reddit_test.go
Labels: size/L
