Repository nikoksr/notify, pull requests merged in 2022-10, with the labels that each got.

#410 feat(service): Add matrix service
  README.md
  go.mod
  go.sum
  service/matrix/README.md
  service/matrix/doc.go
  service/matrix/matrix.go
  service/matrix/matrix_test.go
  service/matrix/mock_matrix_client.go
  service/matrix/types.go
Labels: size/L

#427 sec(codeql): fix potential cross-site scripting vulnerability
  service/wechat/wechat.go
Labels: size/XS, type/security

#428 docs(CODE_OF_CONDUCT): fix enforcement ladder link
  CODE_OF_CONDUCT.md
Labels: size/XS

#438 fix(service): make whatsapp no-op
  README.md
  go.mod
  go.sum
  service/whatsapp/README.md
  service/whatsapp/doc.go
  service/whatsapp/mock_whatsapp_client.go
  service/whatsapp/whatsapp.go
  service/whatsapp/whatsapp_test.go
Labels: affects/docs, affects/services, size/L

#415 feat(service): Add Viber
  README.md
  go.mod
  go.sum
  service/matrix/mock_matrix_client.go
  service/viber/README
  service/viber/doc.go
  service/viber/mock_viber_client.go
  service/viber/viber.go
  service/viber/viber_test.go
Labels: size/L

#439 docs: update CONTRIBUTING pull request section
  CONTRIBUTING.md
Labels: size/XS
