Repository nikoksr/notify, pull requests merged in 2022-02, with the labels that each got.

#197 feat(service): add line notify service
  README.md
  go.mod
  go.sum
  service/line/line_notify.go
  service/line/usage.md
Labels: size/M

#183 feat(service): Add DingTalk
  go.mod
  go.sum
  service/dingding/README-CH.md
  service/dingding/README.md
  service/dingding/dingding.go
Labels: size/M

#202 build(deps): update and tidy dependencies
  go.mod
  go.sum
Labels: size/XS, type/deps

#110 feat(service): Add AWS SNS
  go.mod
  go.sum
  service/amazonsns/amazon_sns.go
  service/amazonsns/amazon_sns_test.go
Labels: size/L

#206 build(deps): update and tidy dependencies
  go.mod
  go.sum
Labels: size/XS, type/deps

#208 feat(lib): add package-level functions
  .golangci.yml
  README.md
  notify.go
  send.go
  use.go
Labels: enhancement, size/M
