Repository nikoksr/notify, pull requests merged in 2022-04, with the labels that each got.

#252 feat(notify): add options
  .cliff.toml
  .golangci.yml
  CHANGELOG.md
  Makefile
  go.mod
  go.sum
  notify.go
  notify_test.go
  send.go
  send_test.go
  service/amazonsns/amazon_sns.go
  service/amazonsns/amazon_sns_test.go
  service/plivo/plivo_test.go
  service/syslog/syslog_test.go
  service/wechat/wechat_test.go
  service/whatsapp/whatsapp.go
  service/whatsapp/whatsapp_test.go
  use.go
  use_test.go
Labels: enhancement, size/XXL

#254 feat: add bark service
  README.md
  service/bark/README.md
  service/bark/bark.go
  service/bark/doc.go
Labels: size/L

#259 feat(notify): add NewWithServices() constructor function
  README.md
  notify.go
  notify_test.go
  use.go
Labels: type/enhancement, size/M

#260 test: fill gaps in library root
  notify_test.go
  send_test.go
Labels: type/enhancement, size/M
