Repository nikoksr/notify, pull requests merged in 2022-08, with the labels that each got.

#343 build/fix buildtools
  .golangci.yml
  Makefile
  go.mod
  go.sum
  notifier.go
  service/bark/bark.go
  service/bark/doc.go
  service/fcm/doc.go
  service/fcm/mock_fcmClient.go
  service/mail/mail.go
  service/msteams/ms_teams.go
  service/plivo/doc.go
  service/pushbullet/pushbullet.go
  service/pushbullet/sms.go
  service/slack/slack.go
  service/syslog/doc.go
  service/telegram/telegram.go
  service/twitter/twitter.go
  service/wechat/wechat.go
  service/whatsapp/doc.go
Labels: size/L

#344 chore(deps): update dependencies
  .github/workflows/ci.yml
  go.mod
  go.sum
Labels: size/XS

#276 feat(service): add twilio
  README.md
  go.mod
  go.sum
  service/twilio/README.md
  service/twilio/doc.go
  service/twilio/mock_twilioClient.go
  service/twilio/twilio.go
  service/twilio/twilio_test.go
Labels: size/L

#300 feat(service): add lark service
  README.md
  go.mod
  go.sum
  service/lark/README.md
  service/lark/common.go
  service/lark/custom_app.go
  service/lark/custom_app_test.go
  service/lark/doc.go
  service/lark/mock_sendToer.go
  service/lark/mock_sender.go
  service/lark/webhook.go
  service/lark/webhook_test.go
Labels: size/XL

#302 feat: add SetParseMode function for Telegram
  service/telegram/telegram.go
Labels: size/S

#374 fix(lint): export types that are being returned by some methods
  service/lark/common.go
  service/lark/custom_app.go
  service/lark/custom_app_test.go
  service/lark/webhook.go
Labels: size/M
