Repository nikoksr/notify, pull requests merged in 2022-09, with the labels that each got.

#378 docs(readme): add special thanks section
  README.md
Labels: size/XS

#386 ci(release): add nightly release
  .github/workflows/nightly-release.yml
Labels: size/S

#387 ci(nightly): explicitly remove previous nightly release
  .github/workflows/nightly-release.yml
Labels: size/S

#389 test(services): expand services test coverage
  .golangci.yml
  Makefile
  go.sum
  send_test.go
  service/amazonses/amazon_ses.go
  service/amazonses/amazon_ses_test.go
  service/amazonses/mock_ses_client.go
  service/discord/discord.go
  service/discord/discord_test.go
  service/discord/mock_discord_session.go
  service/msteams/mock_teams_client.go
  service/msteams/ms_teams.go
  service/msteams/ms_teams_test.go
  service/slack/mock_slack_client.go
  service/slack/slack.go
  service/slack/slack_test.go
  service/whatsapp/whatsapp.go
Labels: size/XL

#390 ci(release): remove nightly action
  .github/workflows/nightly-release.yml
Labels: size/M

#392 docs(CONTRIBUTING): add tests section
  CONTRIBUTING.md
Labels: size/S

#404 ci(renovate): add additional assignee and post-run gomodtidy to renovate
  renovate.json
Labels: size/XS
