Repository nikoksr/notify, pull requests merged in 2023-01, with the labels that each got.

#507 ci(gh): add codespaces prebuild config
  .devcontainer/devcontainer.json
Labels: size/S, affects/ci

#506 feat(service): add generic HTTP service
  .gitignore
  Makefile
  README.md
  go.mod
  go.sum
  service/http/README.md
  service/http/doc.go
  service/http/http.go
  service/http/http_test.go
  version.go
Labels: type/feature, affects/services, size/XL

#501 feat(service): Add Google Chat Service
  README.md
  go.mod
  go.sum
  service/googlechat/README.md
  service/googlechat/doc.go
  service/googlechat/example_credentials.json
  service/googlechat/googlechat.go
  service/googlechat/googlechat_test.go
  service/googlechat/mock_create_call.go
  service/googlechat/mock_spaces_message_creator.go
  service/http/http_test.go
Labels: size/L
