Repository nikoksr/notify, pull requests merged in 2023-06, with the labels that each got.

#441 feat(service): Add Web Push
  .golangci.yml
  README.md
  go.mod
  go.sum
  service/webpush/README.md
  service/webpush/doc.go
  service/webpush/webpush.go
  service/webpush/webpush_test.go
Labels: size/XXL

#602 Add telegram.SetClient function
  service/telegram/telegram.go
Labels: size/XS

#516 feat(service): Adds Mattermost service
  service/http/README.md
  service/http/doc.go
  service/mattermost/README.md
  service/mattermost/doc.go
  service/mattermost/mattermost.go
  service/mattermost/mattermost_test.go
  service/mattermost/mock_http_client.go
Labels: size/L
